
html {
	overflow-x: hidden;
	overflow-y: auto;
}


#estado{
	
    margin: 0 auto;
    text-align: center;

    
}
 .titulo{
    margin:auto;
    text-align: center;
 	height: 63px;
    color:#343076;
}
#ingreso{
	width:445px;
	margin: 0 auto;
	background-color:#350C9B ;
	color:black;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 41px;
	height: 410px;
	position: relative;
	top: 50px;
	left: 0px;
	border:3px double;
	border-color: #020111;
	border-radius:56px; 
}

 #datos{

	height: 59px;
	width:403px;
	padding-left: 54px;
 }
 .lab1{
	margin-left: 43px;
        
 }

 input {
	 text-align:center;
	 background-color: #0E0A54;
	 color:#FFFFFF;
	 border:3px double;
	 vertical-align: center;
	 border-radius:8px; 
	 float:right;
	 width: 219px;

 }
button{
 text-align:center;
	 background-color: #0E0A54;
	 color:#FFFFFF;
	 border:3px double;
	 vertical-align: center;
	 border-radius:8px; 
	 float:right;
	 width: 219px;
	 }
 #buton{
		text-align: center;
		margin-right: 128px;
		float:center !important;
		background-color: #2D171F !important;
		width: 88px;
 }